
JiwaniWangProjectManagement/build/classes/.netbeans_automatic_build
JiwaniWangProjectManagement/build/classes/.netbeans_update_resources
JiwaniWangProjectManagement/nbproject/private/private.properties
JiwaniWangProjectManagement/nbproject/private/private.properties
